{% extends 'base.html' %}

{% block content %}

<!-- ===================== PAGE: SETTINGS ===================== -->
      <section class="page active" id="page-settings">
        <div class="page-content">
          <div class="page-header">
            <div>
              <h1 class="page-title">Configurações</h1>
              <p class="page-sub">Preferências da fazenda e do sistema.</p>
            </div>
          </div>
          <div id="settingsContent"></div>
        </div>
      </section>
{% endblock %}
